page-ordenes-detalle {
	ion-item {
		width:98%!important;
		height:98%!important;
		margin: 12px auto!important;
		-webkit-box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.69)!important;
		-moz-box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.69)!important;
		box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.69)!important;		
	}

}
