<ion-header>
  <ion-navbar>
 	<ion-buttons left>
 		<button ion-button *ngIf="_userv.activo()" (click)="_userv.cerrarSesion()">
        Salir
      </button>
      <button ion-button *ngIf="!_userv.activo()" (click)="_carr.loguearse()">
        Ingresar
      </button>
	</ion-buttons>
	<ion-buttons right>
		<button ion-button icon-only (click)='_carr.loguearse()'>
			<ion-icon name='cart'></ion-icon>
			<ion-badge color='danger' class='carrito-numero'>{{_carr.items.length}}</ion-badge>
		</button>
		&nbsp;
		&nbsp;
	</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-grid>
		<ion-row>	
			  <ion-col col-6 *ngFor="let item of _prod.productos">
			
				<img src='{{rutaImg}}{{item.codigo}}.jpg' [navPush]='productoPage' [navParams]='{producto: item }'>
				<p>
					{{item.producto}} <br> <strong>{{item.precio_compra | currency: 'USD':true}}</strong>
				</p>

			</ion-col>
		</ion-row>	
	</ion-grid>	

	<ion-infinite-scroll threshold="100px" (ionInfinite)="siguientePagina($event)">
		<ion-infinite-scroll-content>
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>


</ion-content>
