page-home {
	ion-col {
		margin: 14px auto!important;
		-webkit-box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.69);
		-moz-box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.69);
		box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.69);		
	}

}
