page-splash {

	.img {
		width:100%;
		height:25%;
		text-align:center;
		transition: visibility 1s, opacity 0.5s linear;
		margin-top:50%;
	}
	
	.img, .autor {
			visibility: hidden;
	}

	.autor {
		margin-top:15%;
		text-align:center;
		color:black;
 		opacity: 0;
		transition: visibility 1s, opacity 0.5s linear;
		letter-spacing: 1px;
	}

}
