
<ion-header>
  <ion-navbar color='marron' class='center'>
    <ion-title>HISTORIAL</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
		<div *ngFor='let data of historial ; let i = index' >
			<button ion-button (click)='abrirScan(i)' color='{{data.color}}'  [disabled]='data.tipo == "contacto" || data.tipo == "evento"'>
				<span *ngIf='data.tipo == "mapa"'><p>Google Maps</span>
				<span *ngIf='data.tipo == "email"'><p>Mail a {{_historialService.mandarEmail(data.info, true)}}</p></span>
				<span *ngIf='data.tipo == "http"'><p>Link a {{data.url}}</p></span>
				<span *ngIf='data.tipo == "contacto"'><p style="color: white">Contacto: {{_historialService.crearContacto(data.info, true)}}</p></span>
				<span *ngIf='data.tipo == "evento"'><p style="color: white">{{data.esEvento}}</p></span>
			</button>
		</div>
	</ion-list>
</ion-content>
