page-guardados {
	
	ion-content{
		background-color: #171A21!important;
	}	

	button {
		width: 80%;
		color: #171A21!important;
		border-radius: 10%;
	}
	ion-list {
		text-align:center;
		padding: 15px 5px
	}
}
