<ion-content padding>
    <ion-buttons end>
      <button ion-button style="background-color: transparent;" 
          (click)="saltarTutorial()">Saltar</button>
    </ion-buttons>
  <ion-slides pager>
    <!-- Código para crear slides -->
      <ion-slide *ngFor="let slide of slides, let i = index">

       <!-- <p class="numeroRedondo" [ngStyle]="{'background-color': slide.colors}">{{i + 1}}</p>
        <img [src]="slide.image" class="slide-image"/>-->
        <br><br>
        <h2 class="slide-title" [innerHTML]="slide.title"></h2>
        <p [innerHTML]="slide.description"></p>
        <span *ngIf='mensaje' style="font-size: 8px">{{texto}}</span>
        <button *ngIf='i + 1 == 5 && !mensaje' ion-button large clear icon-right
                (click)="saltarTutorial()">
            <ion-icon name="done-all"></ion-icon>
        </button>
      </ion-slide>
    </ion-slides>
</ion-content>
